#maillinks tr {
  border:1px solid #CCCCCC;
}

#maillinks tr.alive {
  background-color:#E5FFE2;
  border:1px solid #CCCCCC;
}

#maillinks tr.broke {
  background-color:#FEF5F1;
  border:1px solid #CCCCCC;
}